option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SECRET_KEY: "t@q2j_ycrl(wu(l-_0!!_0*zg6j^-$*l5fd1^d4k6@g-t7mo@$"
    DJANGO_SETTINGS_MODULE: robinboardAPI.dev_settings
    AWS_ACCESS_KEY_ID_DJANGO: "AKIAISWIT7YUS37HNZDA"
    AWS_SECRET_ACCESS_KEY_DJANGO: "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"
    IMGUR_CLIENT_SECRET: "eff1cb3ed1d244687ee0b84a5275e4ee71451c32"
    IMGUR_CLIENT_ID: "46d7ecb6b2f3d14"
    RDS_PASSWORD: "C5EJZtLsrFGqrc7n"
  aws:elasticbeanstalk:container:python:
    WSGIPath: robinboardAPI/wsgi.py
